.card-items {
    width: 284px;
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    border-radius: 16px;
    flex: none;
}

.img-card {
     width: 283px;
     height: 283px;
     object-fit: cover;
     border-radius: 16px;
}

.dados-card {
    width: 100%;
    font-size: 22px;
    padding: 0px 8px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.dados-card .titulo {
    font-weight: bold;
    color: #424242;
}

.dados-card .lista-dados {
    color: #FFB30E;
    display: flex;
    align-items: center;
    gap: 8px;
}

.dados-card .preco {
    font-weight: bold;
    color: #212121;
}

.button-card {
    width: 100%;
    padding: 21px 48px;
    background: #F17228;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    font-weight: bold;
    color: #FFFFFF;
    cursor: pointer;
}